body, html{scroll-behavior: smooth; background-color: #F9F7F7;}
.tab {
    width: 100%; height: 81px;
    display: flex; align-items: center;
    position:fixed;
    z-index: 100;
    background-color: #F9F7F7;
    }
.tab .topline {
    width: 100%; height: 1px; background-color: #112D4E;
    font-size: 0;
    margin:0 40px 8px 0;
}
.tab > div:last-child {margin: 0 0 8px 40px;}
.tab a {
    display: block;
    font-family: 'noto serif';
    font-weight: 500;
    font-size: 1.13rem; letter-spacing: -0.01em;
    color: #112D4E;
    margin-right: 30px;
    padding: 0 0 8px;
    position: relative;
    transition: all 0.4s;
}
.tab a:nth-child(6) {margin-right: 0;}
.tab a:hover {color: #3F72AF;}
.tab a::after {
    content: ""; 
    display: block; 
    width: 0%; height: 100%;
    border-bottom: 1px solid #3F72AF;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.4s;
}
.tab a:hover::after {width: 100%;}
.tab a.on {border-bottom: 1px solid #3F72AF; color: #3F72AF;}
.main {height: 100vh;}
.box {width: 100%; height: 960px;}
#home .home_in {width: 100%; height: 100%; margin: 0 auto; position: relative;}
#home .home_in .home_txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#home .home_in .home_txt > p {
    font-family: 'noto serif';
    font-size: 1.75rem; color: #112D4E;
    text-align: center; margin-bottom: 24px;
}
#home .home_in .home_txt > h1 {
    font-family: 'noto serif';
    font-size: 5rem; font-weight: 600; color: #112D4E;
    text-align: center;
}
#home .home_in .bottomline {
    width: 100%; height: 75px;
    display: flex; align-items: center; justify-content: center;
    position: absolute; bottom: 0; left: 50%; 
    transform: translateX(-50%);
}
#home .home_in .bottomline .btmline {
    width: 100%; height: 1px; background-color: #112D4E;
    font-size: 0;
    margin:0 40px 0 0;
}
#home .home_in .bottomline > div:last-child {margin: 0 0 0 40px;}
#home .home_in .bottomline p {
    font-family: 'noto serif'; color: #112D4E;
    font-size: 1.50rem; letter-spacing: -0.01em;
}
#profile {position: relative;}
#profile .prof_in {
    display: flex; align-items: center;/*  justify-content: center; */
    position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
    background-color: antiquewhite;
}
#profile .prof_in .prof_img .photo {
    width: 360px; height: 440px; 
    margin: 0 0 16px;
    overflow: hidden;
    border-radius: 22px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
}
#profile .prof_in .prof_img .photo > img {width: auto; height: 100%; position: absolute; top: 0; right: 0;}
#profile .prof_in .prof_img > p {color: #3F72AF; display: flex; justify-content: center;}
#profile .prof_in .prof_img > p > span {
    font-family: 'noto serif';font-weight: 500;
    margin-left: 4px;
}
#profile .prof_in .prof_img > p > span:first-child {margin: 0 4px 0 0;}
#profile .prof_in .prof_txt {display: flex;}
#profile .prof_in .prof_txt > div {margin: 0 0 0 100px;}
#profile .prof_in .prof_txt .prof_left {}
#profile .prof_in .prof_txt .prof_left .about {}
#profile .prof_in .prof_txt .prof_left .about > h2 {
    font-family: 'noto serif';
    font-size: 1.13rem; font-weight: 600; color: #112D4E;
    margin-bottom: 24px; letter-spacing: -0.01em;
}
#profile .prof_in .prof_txt .prof_left .about .about_txt {display: flex;}
#profile .prof_in .prof_txt .prof_left .about .about_txt .about_left {}
#profile .prof_in .prof_txt .prof_left .about .about_txt .about_left .sub_tit {display: flex;}
#profile .prof_in .prof_txt .prof_left .about .about_txt .about_left .sub_tit > h3 {
    font-family: 'noto serif'; font-weight: 500; color: #112D4E;
    margin: 0 10px 0 0;
}
#profile .prof_in .prof_txt .prof_left .about .about_txt .about_left .sub_tit > p {}