body, html{scroll-behavior: smooth; background-color: #F9F7F7;}
#wrap {position: relative;}
.tab {
    width: 100%; height: 81px;
    display: flex; align-items: center;
    position:fixed;
    z-index: 100;
    background-color: #F9F7F7;
    }
.tab .topline {
    width: 100%; height: 1px; background-color: #112D4E;
    font-size: 0;
    margin:0 40px 8px 0;
}
.tab > div:last-child {margin: 0 0 8px 40px;}
.tab a {
    display: block;
    font-family: 'noto serif';
    font-weight: 500;
    font-size: 1.13rem; letter-spacing: -0.01em;
    color: #112D4E;
    margin-right: 30px;
    padding: 0 0 8px;
    position: relative;
    transition: all 0.4s;
}
.tab a:nth-child(6) {margin-right: 0;}
.tab a:hover {color: #3F72AF;}
.tab a::after {
    content: ""; 
    display: block; 
    width: 0%; height: 100%;
    border-bottom: 1px solid #3F72AF;
    position: absolute;
    top: 0; left: 0;
    transition: all 0.4s;
}
.tab a:hover::after {width: 100%;}
.tab a.on {border-bottom: 1px solid #3F72AF; color: #3F72AF;}
.main {max-width: 1600px; margin: 0 auto; height: 100vh;}
.box {width: 100%; height: 960px;}
#home .home_in {width: 100%; height: 100%; position: relative;}
#home .home_in .home_txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#home .home_in .home_txt > p {
    font-family: 'noto serif';
    font-size: 1.75rem; color: #112D4E;
    text-align: center; margin-bottom: 24px;
}
#home .home_in .home_txt > h1 {
    font-family: 'noto serif';
    font-size: 5rem; font-weight: 600; color: #112D4E;
    text-align: center;
}
.bottomline {
    width: 100%; height: 75px;
    display: flex; align-items: center; justify-content: center;
    position: absolute; bottom: 0; left: 50%; 
    transform: translateX(-50%);
}
.bottomline .btmline {
    width: 100%; height: 1px; background-color: #112D4E;
    font-size: 0;
    margin:0 40px 0 0;
}
.bottomline > div:last-child {margin: 0 0 0 40px;}
.bottomline p {
    font-family: 'noto serif'; color: #112D4E;
    font-size: 1.50rem; letter-spacing: -0.01em;
}
#profile .prof_in {
    max-width: 1400px; height: 100%;
    margin: 0 auto;
    display: flex; align-items: center; justify-content: center;
}
#profile .prof_in .prof_img .photo {
    width: 360px; height: 440px; 
    margin: 0 0 16px;
    overflow: hidden;
    border-radius: 22px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
}
#profile .prof_in .prof_img .photo > img {width: auto; height: 100%; position: absolute; top: 0; right: 0;}
#profile .prof_in .prof_img > p {color: #3F72AF; display: flex; justify-content: center;}
#profile .prof_in .prof_img > p > span {
    font-family: 'noto serif';font-weight: 500;
    margin-left: 4px;
}
#profile .prof_in .prof_img > p > span:first-child {margin: 0 4px 0 0;}
#profile .prof_in .prof_txt {display: flex;}
#profile .prof_in .prof_txt > div {margin: 0 0 0 80px;}
#profile .prof_in .prof_txt > div > div > h2 {
    font-family: 'noto serif';
    font-size: 1.13rem; font-weight: 600; color: #112D4E;
    margin-bottom: 24px; letter-spacing: -0.01em;
}
#profile .prof_in .prof_txt > div .sub_tit {display: flex;}
#profile .prof_in .prof_txt > div .sub_tit > h3 {
    font-family: 'noto serif'; font-weight: 500; color: #112D4E;
    margin: 0 10px 0 0;
}
#profile .prof_in .prof_txt > div .sub_tit p {color: #112D4E;}
#profile .prof_in .prof_txt .prof_left .about {margin: 0 0 80px;}
#profile .prof_in .prof_txt .prof_left .about .about_txt {display: flex;}
#profile .prof_in .prof_txt .prof_left .about .about_txt .about_left {margin: 0 40px 0 0;}
#profile .prof_in .prof_txt .prof_left .about .about_txt > div > div:first-child {margin: 0 0 16px;}
#profile .prof_in .prof_txt .prof_left .edu > div {margin: 0 0 16px;}
#profile .prof_in .prof_txt .prof_left .edu > div:last-child {margin: 0;}
#profile .prof_in .prof_txt .prof_right .license > div {margin: 0 0 16px;}
#profile .prof_in .prof_txt .prof_right .license > div:last-child {margin: 0;}
#profile .prof_in .prof_txt .prof_right .skill {margin: 67px 0 0;}
#profile .prof_in .prof_txt .prof_right .skill .sk_ic {
    width: 230px; 
    display: flex;
    flex-flow: wrap;
}
#profile .prof_in .prof_txt .prof_right .skill .sk_ic > li {margin: 0 20px 20px 0;}
#profile .prof_in .prof_txt .prof_right .skill .sk_ic > li:nth-child(5), #profile .prof_in .prof_txt .prof_right .skill .sk_ic > li:nth-child(10) {margin-right: 0;}
#profile .prof_in .prof_txt .prof_right .skill .sk_ic > li:nth-child(6), #profile .prof_in .prof_txt .prof_right .skill .sk_ic > li:nth-child(7), #profile .prof_in .prof_txt .prof_right .skill .sk_ic > li:nth-child(8), #profile .prof_in .prof_txt .prof_right .skill .sk_ic > li:nth-child(9), #profile .prof_in .prof_txt .prof_right .skill .sk_ic > li:nth-child(10) {margin-bottom: 0;}
#project .webs {max-width: 1400px; height: 100%; margin: 0 auto;}
#project .webs .web > div {width: 100%; display: flex; align-items: center; justify-content: center;}
#project .webs .web > div .web_img {width: 720px; height: auto; overflow: hidden; margin: 0 60px 0 0;}
#project .webs .web > div .web_img > img {width: 100%;}
#project .webs .web > div .web_txt {color: #112D4E;}
#project .webs .web > div .web_txt > h2 {
    font-family: 'noto serif';
    font-size: 4rem; font-weight: 700;
}
#project .webs .web > div .web_txt .purpose {
    font-size: 0.88rem; 
    margin: 40px 0 60px 0; 
    line-height: 140%;
    font-weight: 300;
}
#project .webs .web > div .web_txt .work_detail {display: flex;}
#project .webs .web > div .web_txt .work_detail .sub_tit {margin: 0 16px 60px 0;}
#project .webs .web > div .web_txt .work_detail .sub_tit > h3 {font-weight: 500; margin: 0 0 24px;}
#project .webs .web > div .web_txt .work_detail .sub_tit > h3:last-child {margin: 0;}
#project .webs .web > div .web_txt .work_detail .text > p {margin: 0 0 24px;}
#project .webs .web > div .web_txt .work_detail .text > p:last-child {margin: 0;}
#project .webs .web > div .web_txt .btn {display: flex;}
#project .webs .web > div .web_txt .btn > li {margin: 0 16px 0 0;}
#project .webs .web > div .web_txt .btn > li:last-child {margin: 0;}
#project .webs .web > div .web_txt .btn > li > a {
    display: block;
    width: 124px; height: 39px;
    border: 1px solid #9CB5D3;
    border-radius: 8px;
    box-sizing: border-box;
    font-weight: 300;
    text-align: center;
    line-height: 39px;
    color: #3F72AF;
    transition: all 0.3s;
}
#project .webs .web > div .web_txt .btn > li > a.on {background-color: #3F72AF; color: #F9F7F7;}
#project .webs .web > div .web_txt .btn > li:hover > a {background-color: #9CB5D3; color: #F9F7F7;}
#design .Dcontents {
    max-width: 1400px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: antiquewhite;
}
#design .Dcontents .design_left .swiper-wrapper {transition-timing-function: linear;}
#design .Dcontents .design_left .snsD {width: 940px; height: 240px; overflow: hidden;}
#design .Dcontents .design_left .snsD .sns > li {
    width: 240px; height: 240px; 
    overflow: hidden;
    border-radius: 8px;
}
#design .Dcontents .design_left .snsD .sns > li > img {height: 100%; width: 100%;}
#design .Dcontents .design_left .bnrD {width: 940px; height: 140px; overflow: hidden; margin: 20px 0 0;}
#design .Dcontents .design_left .bnrD .bnr > li {
    width: auto;
    height: 140px; 
    overflow: hidden;
    border-radius: 8px;
}
#design .Dcontents .design_left .bnrD .bnr > li > img {height: 100%;}
#design .Dcontents .detailD {
    width: 280px; height: 400px; 
    overflow: hidden; 
    margin: 0 0 0 20px; 
    border-radius: 8px;
}
#design .Dcontents .detailD .detail > li > img {width: 100%;}
#design .Dcontents .popup_bg {
    background-color:rgba(0,0,0,0.5);
    position:fixed; left:0; top:0; width:100%; height:100vh; z-index:999;
}